@import "foundation";
@import "settings";

.people-search-form {
	button {
		height: ($input-font-size * unitless-calc($input-line-height))
			+ (get-side($input-padding, "top") + get-side($input-padding, "bottom")) - rem-calc(1);
		margin: 0 0 $form-spacing $form-spacing;
	}
}

.afs-list {
	select,
	button,
	input {
		margin-bottom: 0;
	}

	.h2 {
		text-align: left;
		font-size: 1.7rem;
		hyphens: auto;

		&::after {
			margin-bottom: $paragraph-margin-bottom / 4;
		}
	}

	p,
	.p {
		margin-bottom: $paragraph-margin-bottom / 2;
	}

	.grid-container {
		padding: $paragraph-margin-bottom / 2;
	}

	.people-container {
		padding: $paragraph-margin-bottom / 2 $paragraph-margin-bottom / 2 0;
	}

	ul .cell:first-child,
	.column-headings .cell:first-child {
		width: 82px;
	}

	.column-headings .cell.medium-auto {
		width: 29.8%;
	}

	.faculty-search-header {
		background-color: $gray-lighter;
	}

	.medium-21 {
		width: 21%;
	}

	> ul {
		> li {
			position: relative;
			background-color: $gray-lighter;
			padding-bottom: $paragraph-margin-bottom / 2;

			&.item-odd {
				background-color: transparent;
			}

			@include breakpoint(medium) {
				background-color: transparent;

				&.item-odd {
					background-color: $gray-lighter;
				}
			}
		}

		button {
			line-height: normal;
			cursor: pointer;
			font-family: Consolas, monospace;
			margin-left: $paragraph-margin-bottom / 2;
		}

		ul {
			margin-left: 0;
			list-style-position: inside;
			display: none;
		}

		> li.expanded ul {
			display: block;
		}

		@include breakpoint(small only) {
			.people-name {
				font-size: 1.8rem;
				line-height: 2rem;
				color: $nav-blue;
			}

			> li {
				line-height: 1.5;
			}

			button::before {
				content: "Research Interests ";
				font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
			}
		}

		@include breakpoint(medium) {
			button {
				position: absolute;
				bottom: $grid-padding-gutters / 2;
				right: $grid-padding-gutters / 2;
			}

			ul {
				display: block;
				overflow: hidden;
				max-height: 102px;
			}

			> li.expanded ul {
				max-height: none;
			}
		}
	}

	.person-info {
		h2 {
			display: inline;

			@include breakpoint(medium) {
				+ * {
					clear: both;
				}
			}
		}
	}

	.people-email {
		word-break: break-word;
	}

	#searchform {
		flex-wrap: wrap;

		.cell {
			margin-top: $grid-padding-gutters / 2;

			&:first-child {
				margin-top: 0;
			}
		}

		button {
			margin-left: 0;
			width: 100%;
			border-radius: 19px;
			color: $whiter;
			padding: {
				left: 2px;
				right: 2px;
			}
			font-size: 14px;

			&.maroon {
				background-color: $maroon;
			}

			&.dark-gray {
				background-color: $gray-dark;
			}

			&:active,
			&:hover {
				border: 1px dashed rgba(255, 255, 255, 0.75);
			}
		}

		@include breakpoint(medium) {
			margin-left: -.5rem;
			margin-right: -.5rem;

			.cell {
				margin-top: 0;
			}

			> .cell {
				padding: 0 .5rem;
			}
		}
	}

	@include breakpoint(small only) {
		.cell {
			width: 100%;

			p {
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint(976px down) {
		@include breakpoint(590px up) {
			#searchform {

				.cell {
					margin-top: 0;
				}

				.medium-4,
				.medium-3 {
					width: 50%;
				}

				.medium-1 {
					width: 25%;
				}

				> .cell:first-child,
				> .cell:first-child + .cell {
					margin-bottom: $grid-padding-gutters / 2;
				}
			}

			.column-headings,
			.person-info {
				.cell {
					padding: 0 $grid-padding-gutters / 4;
				}
			}

			ul button {
				bottom: .25rem;
				right: .25rem;
			}
		}
	}

	@include breakpoint(976px up) {
		#searchform {
			flex-wrap: nowrap;
		}
	}

	@include breakpoint(medium) {
		.people-container {
			padding-bottom: $paragraph-margin-bottom / 2;
		}

		.afs-list > ul > li {
			padding-bottom: 0;
		}
	}
}

// jQuery UI styles
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-front {
	z-index: 100;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	list-style: none {
		position: inside;
	}
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
	border: 1px solid #C5C5C5;
	background: #FFF;
	color: #333;

	.ui-menu-item {
		margin: 0;
		cursor: pointer;
		/* support: IE10, see #8844 */
		list-style: {
			image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
		}
	}

	.ui-state-focus,
	.ui-state-active {
		margin: -1px;
	}

	.ui-state-focus {
		border: 1px solid #CCC;
		background: #EDEDED;
		font-weight: normal;
		color: #2B2B2B;
	}
}
